body {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  font-weight: 300;
  background: #ffd8be;
}

.list-title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #124559;        
}

#date {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: #124559;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

.navitem {
  padding: 20px;
}

nav {
  display: inline-block;
  padding: 10px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #124559;
}

.icon {
  padding: 0 0.5em 0;
  font-size: 1em;
}

.todo_card {
  width: 30%;
  margin: auto;
  border-bottom: #124559 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 30%;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  min-height: 500px;
}

li {
  padding: 0.2em 0;
  margin-left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

#buttonAdd {
  background: none;
  height: 100%;
  border: none;
  cursor: pointer;
  margin: 1em;
}

.add-icon {
  font-size: 1.2em;
  padding: 0.2em;
  color: #124559;
}

#inputAdd {
  padding: 20px;
  background: transparent;
  border: none;
  font-family: 'Work Sans';
  width: 100%;
}

input:focus {
  outline: none;
}

.delButton{
  margin-left: 0.5em;
  cursor: pointer;
  transition: 1s;
  font-size: 0.8em;
  margin-left: auto;
  color: #124559;
}

.delButton:hover{
  color: rgb(241, 67, 67);
}
#alert_message {
	size: 1.2em;
	color: red;
	text-align: center;
	margin: 1em;
}
.checkedLine {
  text-decoration: line-through;
}

.flex_row {
  display: flex;
  align-items: center;
  justify-content: center;

}
.title3 {
  border-bottom: #124559 1px solid;
  border-bottom-width: 3px;
  width: 100%;
  color: #124559;
  font-weight: 600;
}

input[type="checkbox"] {
  /* appearance: none; */
  background: none;
  height: 10px;
  width: 10px;
  border: #124559 0.5px solid;
  margin-right: 10px;
}

